<div class="loadingMessage center-align ani ani-fast tinUpIn" style="position:fixed; margin-left: -100px; left:50%; top:140px; width:180px; z-index:9999999">
	<div class="row-fluid black-back opacity-6 withRadius width-padding small-top-padding small-bottom-padding">
		<div class="pull-left loading-dark line height-med" style="width:60px"></div>
		<div class="pull-left">
			<h4 class="machine lightest-text no-height-margin line height-med">Cargando</h4>
		</div>
	</div>
</div>
