<div ui-view="subheader"></div>

<!-- <div ng-include src="'views/shopper/profile-subheader.html'"></div> -->

<div class="container med-grey-back dark-dust top-margin">

    <div class="med-grey-back dark-dust">

        <div class="row-fluid">

            <div class="span10-90 hidden-phone">
              <div ng-include src="'app/views/leftnav.html'"></div>
            </div>

            <div class="span90-10 expands-phone light-back shadow-ninja left-dark right-dark hide-overflow">
                <div ui-view="panel"></div>
            </div>
        </div>
    </div>      
</div>