<div class="row-fluid width-padding">
	<div class="muted white-back withShadow withRadius">
		<div class="row-fluid center-align punchy">
			Disclaimer
		</div>
		<div class="row-fluid width-padding small-top-padding bottom-padding machine center-align">
			La información presentada fue extraída del sitio web de la candidatura de la presidente electa.
		</div>
	</div>
</div>