<div class="row-fluid big-top-margin width-padding big-bottom-margin hide-on-animate">
	<div class="muted white-back withShadow withRadius">
		<div class="row-fluid width-padding top-padding bottom-padding machine">
			Este es un proyecto de código abierto, basado en el boilerplate proporcionado por <a href="https://github.com/brandid">getbrandid</a>
		</div>
		<div class="row-fluid width-padding top-padding bottom-padding machine">
			También nos apoya <a href="http://atlassian.com">Atlassian</a> con sus productos JIRA y Confluence.
		</div>

	</div>
</div>