<header class="row-fluid center-align">
	<div class="row-fluid top-margin">
		<h2 class="lightest-text text-shadow human" style="text-transform:none">#CómoVamos?</h2>	
	</div>

	<div class="row-fluid top-margin small-bottom-margin max-width-600">
		<div class="well muted withShadow">
			<div class="row-fluid small-bottom-margin machine">
				Un esfuerzo ciudadano para seguirle la huella a nuestra clase política.
			</div>
			<div class="row-fluid">
				
				<iframe allowtransparency="true" frameborder="0" scrolling="no"
              src="//platform.twitter.com/widgets/tweet_button.html?text=Síguele la huella a los políticos"
              style="width:90px; height:20px;"></iframe>

				
			</div>
			<hr>
			<div class="row-fluid">
				<div class="row-fluid machine">
					Puedes saber más de la iniciativa en <a href="http://comovamos.atlassian.net">nuestro proyecto</a>
				</div>

			</div>
		</div>
	</div>
</header>