<div class="row-fluid">
	<div class="navi-bar-title dark">
		<h1 class="human title">50 en 100</h1>
	</div>

	<div class="row-fluid width-padding top-padding bottom-padding">

		<div class="row-fluid center-align">
			<div class="row-fluid">
				<h1 class="punchy muted light-text-shadow"><i class="icon icon-bolt small-right-margin"></i></h1>				
			</div>
			<div class="row-fluid bottom-margin">
				<div class="row-fluid center-align">
					<span class="muted machine">50 promesas para los primeros 100 días de gobierno</span>
				</div>	
			</div>
			<div class="row-fluid bottom-margin">
				<div class="row-fluid center-align">
					<span class="muted machine">¿cuánto se ha cumplido?</span>
				</div>	
			</div>
			<div class="row-fluid tiny-top-margin progress progress-warning progress-striped active withShadow height-tiny">
			 <div class="bar bar-success" style="width: 0.5%;"></div>
			</div>
			
		</div>
		<div class="row-fluid white-back withShadow withRadius center-align">
			

			<a href="{{item.path}}"
				class="block row-fluid top-padding bottom-padding relative light-border-bottom white-border-top line height-med"
				ng-repeat="item in masterDetailCtrl.cincuenta"
				ng-animate="{ enter: 'waveForward-enter', leave: 'waveForward-leave' }"
			>
				<div class="span11 muted left-align">
					<div class="med-width-padding">
						<div class="pull-left small-right-margin">
							<i class="icon {{item.icon}} icon-large small-right-margin"></i><span class="small-left-margin machine">{{item.title}}</span> 
						</div>
					</div>
				</div>
				
				<div class="span1 muted pull-right"><i class="icon icon-chevron-right"></i></div>
			</a>

		</div>
	</div>
	<div class="row-fluid" ng-include src="'app/views/footer.html'"></div>		
</div>
