<div class="row-fluid">
	<div class="navi-bar-title dark">


		    <h1 class="human title">Promesas</h1>

		<!-- <a ng-click="createMonster()" class="navi-button-main">
			<i class="icon icon-plus"></i>
		</a> -->

	</div>

	<div class="row-fluid width-padding top-padding bottom-padding">

		<div class="row-fluid center-align">
			<div class="row-fluid">
				<h1 class="human muted light-text-shadow"><i class="icon icon-cloud small-right-margin"></i></h1>				
			</div>
			<div class="row-fluid top-margin big-bottom-margin">
				<div class="row-fluid center-align">
					<span class="muted machine">Todas las promesas de campaña</span>
				</div>	
			</div>
			
		</div>
		<div class="row-fluid white-back withShadow withRadius center-align">
			

			<a href="#/crud/{{item.id}}"
				class="block row-fluid top-padding bottom-padding relative light-border-bottom white-border-top"
				ng-repeat="item in masterDetailCtrl.collection.models"
				ng-animate="{ enter: 'waveForward-enter', leave: 'waveForward-leave' }"
			>
				<div class="span90-10 muted">
					<div class="row-fluid tiny-bottom-margin">
						<div class="span20-80 right-align">
							<span class="machine bold">Nombre:</span>	
						</div>
						<div class="span80-20 left-align">
							<div class="small-left-margin machine">{{item.getName()}}</div>
						</div>
					</div>

					<div class="row-fluid">
						<div class="span20-80 right-align">
							<span class="machine bold">Detalle:</span>	
						</div>
						<div class="span80-20 left-align">
							<span class="small-left-margin machine">{{item.getReason()}}</span>
						</div>
					</div>
						
				</div>

				<div class="span10-90 muted center-align small-top-padding">
					<div class="small-top-margin">
						<i class="icon icon-chevron-right"></i>	
					</div>
				</div>
				
			</a>

		</div>
	</div>
	<div class="row-fluid" ng-include src="'app/views/footer.html'"></div>		
</div>
