<div class="row-fluid">
	<div class="navi-bar-title dark">

		<a class="navi-button-prev" ng-click="goBackTo('promesas.crud')">
			<i class="icon icon-th-list small-right-margin "></i>Volver
		</a>

		    <h1 class="human title">Promesa</h1>

	<!--	<a class="navi-button-main" href="#/crud/{{detailCtrl.current.id}}/edit">
			Edit
		</a> -->

	</div>

	<div class="row-fluid width-padding top-padding bottom-padding">

		<div class="row-fluid center-align">
			<div class="row-fluid bottom-margin">
				<h1 class="punchy muted light-text-shadow"><i class="icon icon-user small-right-margin"></i></h1>				
			</div>
		</div>
		<div class="row-fluid white-back withShadow withRadius width-padding top-padding bottom-padding center-align">
			

			<div class="row-fluid">
				<div class="row-fluid">
					<div class="row-fluid center-align">
						<h4 class="punchy">Name</h4>
						<span class="machine muted">{{detailCtrl.current.getName()}}</span>
					</div>

				</div>

			</div>
				

			<div class="horizontal-line full-fade top-margin bottom-margin"></div>
			<h4 class="punchy">Reason</h4>
			<span class="machine muted">{{detailCtrl.current.getReason()}}</span>
		</div>
	
		<div class="row-fluid top-margin">
			<a ng-click="destroyMonster(detailCtrl.current)" class="btn btn-block btn-large btn-danger">Delete this model</a>			
		</div>
	</div>
	<div class="row-fluid" ng-include src="'app/views/footer.html'"></div>		
</div>
