<div class="row-fluid">
	<div class="navi-bar-title dark">
		<h1 class="human title">Facebook API Wrapper</h1>
	</div>

	<div class="row-fluid width-padding top-padding bottom-padding">

		<div class="row-fluid center-align">
			<div class="row-fluid">
				<h1 class="punchy muted light-text-shadow"><i class="icon icon-facebook small-right-margin"></i></h1>				
			</div>
			<div class="row-fluid bottom-margin">
				<div class="row-fluid center-align">
					<span class="muted machine">Extending the Facebook JavaScript SDK with FB.apiAngular</span>
				</div>	
			</div>
			
		</div>
	
		<div class="row-fluid max-width-400 withShadow bottom-margin">
			<a ng-click="fbConnect()" class="btn-fb btn-large">
				<div class="row-fluid">
					<div class="span25-75 center-align">
						<h4 class="no-height-margin line height-btn"><i class="icon icon-facebook icon-large lightest-text"></i></h4>
					</div>
					<div class="span75-25 center-align ">
						<span class="machine no-height-margin line normalcase height-btn lightest-text">1. Connect</span>
					</div>	
				</div>
			</a>
		</div>

		<div class="row-fluid max-width-400 withShadow bottom-margin">
			<a ng-click="exampleCall()" class="btn-fb btn-large">
				<div class="row-fluid">
					<div class="span25-75 center-align">
						<h4 class="no-height-margin line height-btn"><i class="icon icon-facebook icon-large lightest-text"></i></h4>
					</div>
					<div class="span75-25 center-align ">
						<span class="machine no-height-margin line normalcase height-btn lightest-text">2. Send Request</span>
					</div>	
				</div>
			</a>
		</div>

		
<pre>
  $scope.facebookCtrl.fbAuthData = {{ facebookCtrl.fbAuthData }}

  $scope.facebookCtrl.response = {{ facebookCtrl.response }}

</pre>


		<div class="row-fluid white-back withShadow withRadius top-margin top-padding bottom-padding width-padding">
			
			<div class="row-fluid left-align muted">
				So what did we do here? We made it an actual joy to work with the Facebook API.
				<br><br>
		        Check out the details <a href="#/cincuenta/facebookSDK" class="">Features > Angular Wrapper for Facebook SDK</a>
		</div>
	</div>
		
</div>
<div class="row-fluid" ng-include src="'app/views/footer.html'"></div>