<div class="row-fluid">
  <div class="navi-bar-title dark">

    <a class="navi-button-prev" ng-click="setAnimationClass('moveleft')" href="#/cincuenta">
      Back
    </a>

        <h1 class="human title">Parse & Facebook SDK</h1>


  </div>

  <div class="row-fluid width-padding top-padding bottom-padding">

    <div class="row-fluid center-align">
      <div class="row-fluid bottom-margin">
        <h1 class="punchy muted light-text-shadow"><i class="icon icon-facebook-sign small-right-margin"></i></h1>       
      </div>
    </div>
    <div class="row-fluid white-back withShadow withRadius width-padding top-padding bottom-padding center-align">
      

      <div class="row-fluid" >
        <div class="row-fluid bottom-margin">
          <div class="row-fluid center-align">
            <h4 class="punchy small-bottom-margin">Use a Promise to Init Parse.FacebookUtils</h4>
            <span class="muted">Allowing you to asynchronously Load the Parse SDK and the Facebook SDK</span>
          </div>

        </div>

      </div>
      <div class="row-fluid left-align muted">
        We all know that we should asynchronously load the Facebook SDK near the closing <span class="bold">body</span> tag to speed up page loads. We load the Parse SDK here too instead of in the <span class="bold">head </span>for the same reason. But if you try to<span class="bold"> </span>asynchronously load the <span class="bold">Parse SDK and Facebook SDK</span> you will run into the problem where Parse will try to call FB.init() at some point, and the FB object does not exist because the Facebook SDK has not yet loaded.
<br/><br/>
We developed an clever way to get around this. The key thing here is that Facebook calls a function <span class="bold">window.fbAsyncInit</span> as soon as the SDK is finished loading. We use this to resolve the <span class="bold">window.fbPromise</span>, which in turn is used to trigger <span class="bold">Parse.FacebookUtils.init()</span>. This method is flawless, and you never get any out of sync errors. Here's the code to define the <span class="bold">fbPromise</span>:<br/><br/>
<strong><a target="_blank" href="https://github.com/brandid/parse-angular-demo/blob/master/index.html">index.html</a></strong>
<pre>

  var fbDeferred = $.Deferred();
  window.fbPromise = fbDeferred.promise();
  window.fbAsyncInit = function() {
    fbDeferred.resolve();
  };

</pre>

<br/>... and here's the code to subsequently trigger the init()<br/><br/>
<strong><a target="_blank" href="https://github.com/brandid/parse-angular-demo/blob/master/client/app/scripts/services/ParseServices.js">ParseServices.js</a></strong>
<pre>
// FACEBOOK init
window.fbPromise.then(function() {
  Parse.FacebookUtils.init({
    appId: /*** FB APP ID ***/, 
    channelUrl: /*** HTTP://YOURDOMAIN.COM/ ***/channel.html',
    cookie: true, // enable cookies to allow Parse to access the session
    xfbml: true, // parse XFBML
    frictionlessRequests: true // recommended
  });
});
</pre>

Simple, elegant, highly effective.

      </div>
        

    </div>

    <div class="top-margin">
      <a href="#/cincuenta" class="btn btn-block btn-secondary btn-large">Back</a>
    </div>
  </div>
  <div class="row-fluid" ng-include src="'app/views/footer.html'"></div>
</div>
