<div class="row-fluid">
  <div class="navi-bar-title dark">

    <a class="navi-button-prev" ng-click="setAnimationClass('moveleft')" href="#/cincuenta">
      Back
    </a>

        <h1 class="human title">Angular Cloud Code Wrapper</h1>


  </div>

  <div class="row-fluid width-padding top-padding bottom-padding">

    <div class="row-fluid center-align">
      <div class="row-fluid bottom-margin">
        <h1 class="punchy muted light-text-shadow"><i class="icon icon-cloud small-right-margin"></i></h1>       
      </div>
    </div>
    <div class="row-fluid white-back withShadow withRadius width-padding top-padding bottom-padding center-align">
      

      <div class="row-fluid" >
        <div class="row-fluid bottom-margin">
          <div class="row-fluid center-align">
            <h4 class="punchy small-bottom-margin">A Service to Wrap Parse Cloud Code Calls</h4>
          </div>

        </div>

      </div>
      <div class="row-fluid left-align muted">
        We really love AngularJS. However, you often hit the WTF ZONE of Angular, especially when you try to update scope variables outside of the "Angular Kingdom". Since all your data will be pulled in asynchronously from Parse, you'll run in to this issue pretty quickly.

        <br/><br/>
        So we wrote <strong><a href="https://github.com/brandid/parse-angular-demo/blob/master/client/app/scripts/services/ParseCloudCodeAngular.js">ParseCloudCodeAngular</a></strong>, a simple AngularJS wrapper for the Parse.Cloud.run, saving even more boilerplate code. We're also using deferred promises, because they're awesome. This allows you to call Parse.Cloud.run, pass in any parameters, and it wraps the result in a promise <em>inside</em> the "Angular Kingdom".

Here's an example:<em></em><br/><br/>
<pre>ParseCloudCodeAngular('customCloudCodeFunction',dataToSend);</pre>
        <br/>This single line of code calls Parse.Cloud.run, passes in your data and wraps the result in an AngularJS promise.

        <br/><br/>Here's how it works:<br/><br/>
<strong><a href="https://github.com/brandid/parse-angular-demo/blob/master/client/app/scripts/services/ParseQueryAngular.js">ParseCloudCodeAngular.js</a></strong>
<pre>angular.module('ParseServices')

.factory('ParseCloudCodeAngular',['$q','$timeout','ParseQueryAngular',function ($q, $timeout, ParseQueryAngular) { 
	return function(name,params) {
    	return ParseQueryAngular(Parse.Cloud,{functionToCall:"run",params:[name,params]});
  }
}]);</pre>
<br/>
Just a simple shortcut to keep your code DRY.

      </div>
        

    </div>

    <div class="top-margin">
      <a href="#/cincuenta" class="btn btn-block btn-secondary btn-large">Back</a>
    </div>
  </div>
  
  <div class="row-fluid" ng-include src="'app/views/footer.html'"></div>    
</div>
