<div class="row-fluid">
  <div class="navi-bar-title dark">

    <a class="navi-button-prev" ng-click="setAnimationClass('moveleft')" href="#/cincuenta">
      Back
    </a>

        <h1 class="human title">Facebook API Wrapper</h1>


  </div>

  <div class="row-fluid width-padding top-padding bottom-padding">

    <div class="row-fluid center-align">
      <div class="row-fluid bottom-margin">
        <h1 class="punchy muted light-text-shadow"><i class="icon icon-facebook-sign small-right-margin"></i></h1>       
      </div>
    </div>
    
    <div class="row-fluid white-back withShadow withRadius top-margin top-padding bottom-padding width-padding">
      
      <div class="row-fluid" >
        <div class="row-fluid bottom-margin">
          <div class="row-fluid center-align">
            <h4 class="punchy small-bottom-margin">FB.api wrapped in an Angular Promise</h4>
            <span class="muted">Extending the Facebook JavaScript SDK with FB.apiAngular</span>
          </div>

        </div>

      </div>

      <div class="row-fluid left-align muted">
        So what did we do <a href="#/facebook" class="">here</a>? We made it an actual joy to work with the Facebook API.
        <br><br>
            <span class="bold">1. Wrapped all FB.api calls in an AngularJS promise</span>
            <br/>
            For the same reason we need to wrap all Parse calls in an Angular promise, we need to do it with all <span class="bold">FB.api</span> calls too.
        <br><br>
            This is because <span class="bold">FB.api</span> performs requests outside the Angular kingdom. We took inspiration from our Parse wrapper and created a similar one for <span class="bold">FB.api</span>.
        
        <br><br>
        <span class="bold">2. Extended Facebook JS SDK with FB.apiAngular</span>
        <br>
        So after creating a cleanly wrapped Angular promise for <span class="bold">FB.api</span>, we gave ourselves access to it by extended the Facebook SDK with the <span class="bold">FB.apiAngular</span> method. Now, instead of calling <span class="bold">FB.api</span>, you just call <span class="bold">FB.apiAngular</span>, and you get to use the Facebook SDK with promises!

      <br/><br/>
      <strong><a target="_blank" href="https://github.com/brandid/parse-angular-demo/blob/master/client/app/scripts/controllers/facebook-example.js">facebook-example.js</a></strong>
<pre>

  $scope.exampleCall = function() {

    FB.apiAngular(
      '/me/apprequests',
      { message: 'From the app to the user.' },
      'POST')

    .then(function(data) {

      alert('done'); console.log(data)
    
    }, function(error) {
    
    $scope.facebookCtrl.response = error.message;
  
  });

  }

</pre>

        <br/><br/>Check out <strong><a href="https://github.com/brandid/parse-angular-demo/blob/master/client/app/scripts/services/FacebookAngularPatch.js">FacebookAngularPatch.js</a></strong> to see exactly how we extended the FB SDK with the FB.apiAngular method.

      </div>
    </div>
      

    <div class="top-margin">
      <a href="#/cincuenta" class="btn btn-block btn-secondary btn-large">Back</a>
    </div>
  </div>
  <div class="row-fluid" ng-include src="'app/views/footer.html'"></div>
</div>
